.bg {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1900px;
  height: 780px;
  background-image: url("../../app/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center -150px;
  background-size: cover;
}

@media (max-width: 768px) {
  .bg {
    height: 570px;
    background-position: center 0px;
  }
}

@media (max-width: 568px) {
  .bg {
    background-position: -320px 0px;
  }
}
